{#
    Редактировать
    @var \yii\web\View this
    @var frontend\modules\partners\models\form\ApartmentForm apartment
    @var frontend\modules\partners\models\form\AdvertForm advert
    @var frontend\modules\partners\models\form\ImageForm image
    @var array rentTypes
#}

{% extends "@app/modules/office/views/layouts/main.twig" %}

{% block title %}{{ this.registerTitle('Редактировать объявления | Сдаём.ру') }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
            {
                'label': 'Личный кабинет',
                'url': ['/office/default/index'],
            },
            {
                'label': 'Редактировать объявления',
                'url': { 0 : '/partners/default/update', 'id' : apartment.apartment_id },
            },
            ],
        }) }}
    </div>
{% endblock %}

{% block sidebar %}

    <div class="text-help-section s1">
        <h3>Редактирование объявлений</h3>
        <p>При редактировании апартаментов, Вы можете удалить объявление убрав нужную галочку с типа аренды или создать новые
        отметив соответствующие галочки.</p>
    </div>

    <div class="text-help-section s2">
        <p>Укажите город в котором находится Ваш объект недвижимости.</p>
    </div>

    <div class="text-help-section s3">
        <p>Вы можете загрузить до 10 фотографий.</p>
    </div>

{% endblock %}

{% block content %}

    <div class="container-apartment-form">
        {{ this.render('_form_apartment.twig', {
            'apartment' : apartment,
            'advert' : advert,
            'image' : image,
            'rentTypes' : rentTypes,
        }) | raw }}
    </div>

{% endblock content %}