{#
    Представление страницы ошибок.
    @var yii\base\View $this Предсталвение
    @var string $name Название
    @var string $message Сообщение
    @var Exception $exception Исключение
#}


{% extends "@common/modules/site/views/layouts/main.twig" %}

{% block bodyClass %}p-error{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="error">
            <div class="error-img">
                <img src="/_new/images/404.svg" alt="404">
            </div> 
            <a class="btn-orange" href="/">На главную</a>
            
            <div class="error-text">
                Извините данной страницы не существует
            </div>
        </div>
    </div>
{% endblock %}