<div class="header-message">
    <i class="header-message-icon"></i>
    <span class="header-message-value">--</span>
    <div class="message-info">
        <div class="message-info-header">Уведомления</div>
        <div class="list-message-info">
            <a href="{{ path(['/partners/reservation/total-bid']) }}" class="list-message-info-item">
                <span class="list-message-info-name">Заявки</span>
                <span class="list-message-info-value">--</span>
            </a>
            <a href="{{ path(['/partners/reservation/reservations']) }}" class="list-message-info-item">
                <span class="list-message-info-name">Бронь</span>
                <span class="list-message-info-value">--</span>
            </a>
            <a href="{{ path(['/messages/default/index']) }}" class="list-message-info-item">
                <span class="list-message-info-name">Сообщения</span>
                <span class="list-message-info-value">--</span>
            </a>
        </div>
    </div>
</div>