{#
    Мои объявления
    @var \yii\web\View this
    @var \common\modules\partners\models\ApartmentSearch searchModel
    @var dataProvider
#}

{% extends "@common/modules/office/views/frontend/layouts/main.twig" %}

{% block bodyClass %}l-account p-home{% endblock %}

{% block title %}Мои объявления - Личный кабинет | Cdaem.ру{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {{ use('yii/widgets/Breadcrumbs') }}
        {{ breadcrumbs_widget({
            'itemTemplate' : "<li>{link}</li>\n",
            'homeLink' :
            {
                'label' : 'Главная',
                'url' : '/'
            },
            'links':  [
                {
                    'label': 'Личный кабинет',
                    'url' : ['/office/default/index']
                },
                {
                    'label': 'Мои объявления',
                },
            ],
        }) }}
    </div>
{% endblock %}

{% block content %}

    <p>
        ---
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>

{% endblock content %}