// Fonts
$font-base: Montserrat, sans-serif;

// Colors
$color-base-link: #FFA801;
$color-base-border: #FFA801;
$color-warning: #FFA801;
$color-form-focus: #FFA801;
$color-highlight: #FF2E43;

$color-text-h2-ligth: #ffffff;
$color-text-h2: #151515;
$color-text: #4c4c4c;
$color-text-link: #333333;
