* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

*::-moz-focus-inner {
    border: 0;
    outline: 0;
}

:focus {
    outline: none;
}


html,
body {
    width: 100%;
    height: 100%;
    min-width: 375px;
    font-family: $font-base;
}

body {
    font-family: $font-base;
    // Push footer to bottom
    display: flex;
    flex-direction: column;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
    font-size: 13px;
    line-height: 1.2rem;

    @include tablet() {
        font-size: 14px;
    }

    @include tablet-land() {
        font-size: 15px;
    }
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

a {
    text-decoration: none;
    cursor: pointer;
    background-color: transparent;
    transition: 300ms;
    color: $color-base-link;

    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        outline: 0;
        cursor: pointer;
    }

    &:hover {
        color: darken($color-base-link, 10%);
    }
}

strong,
b {
    font-family: $font-base;
    font-weight: 600;
}

p {
    font-family: $font-base;
    margin-bottom: 1.2rem;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.has-overflow,
.no-scroll {
    overflow: hidden;
}

.has-ellipsis {
    text-overflow: ellipsis;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.no-events {
    pointer-events: none;
}

.object-fit {
    overflow: hidden;
    position: relative;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        height: auto;
        width: auto;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);
    }
}

@supports (object-fit: cover) {
    .object-fit {
        img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            transform: none;
            object-fit: cover;
        }
    }
}

.container-fluid {
    max-width: 1200px;
    padding-left: 30px;
    padding-right: 30px;
}

.text-smaller {
    font-size: 0.81rem;
    line-height: 1rem;
}

.p-payment {
    .payment {
        margin-top: 16px;

        .form-group {
            max-width: 330px;
            margin-bottom: 31px;
            position: relative;

            &::before {
                content: '';
                width: 16px;
                height: 19px;
                background-image: url("/_new/images/icons/rubles.svg");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 12px;
                bottom: 12px;
            }
        }

        &-label {
            width: fit-content;
            margin-bottom: 18px;

            color: #000;
            font-size: 16px;
            font-weight: 600;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid #DCDCDC;
            background: #FAFAFA;
            padding-right: 30px;
        }

        &-title {
            margin-bottom: 24px;

            color: #000;
            font-size: 16px;
            font-weight: 600;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            margin-bottom: 26px;

            @include phone() {
                grid-template-columns: repeat(2, 1fr);
            }

            @include tablet() {
                grid-template-columns: repeat(3, 1fr);
            }

            @include tablet-land() {
                gap: 17px 36px;
            }
        }

        &-method {
            display: flex;
            flex-direction: column;
            gap: 15px;

            cursor: pointer;

            @include tablet-land() {
                gap: 27px;
            }

            &:hover {
                .payment-img img {
                    opacity: 1;
                }
            }
        }

        &-input {
            display: none;

            &:checked+.payment-method {
                .payment-img {
                    border-color: #FFA801;

                    img {
                        opacity: 1;
                    }
                }

                .payment-name {
                    color: #000;
                }
            }
        }

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            padding: 15px;

            border-radius: 5px;
            border: 1px solid #F1F1F1;
            background: #FFF;
            transition: border-color 200ms linear;

            @include tablet-land() {
                height: 147px;
            }

            img {
                opacity: 0.5;
                transition: opacity 200ms linear;
                object-fit: contain;
                display: block;
                max-height: 100%;
                max-width: 70%;
                width: auto;
            }
        }

        &-name {
            color: #636363;
            font-size: 16px;
            font-weight: 500;
            transition: color 200ms linear;
        }
    }
}

.p-error {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     */
    .error {
        padding: 60px 0;

        @include tablet-land() {
            padding: 120px 0;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &-img {
            max-width: 809px;
            margin-bottom: 60px;

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: contain;
            }
        }

        .btn-orange {
            margin-bottom: 30px;
        }

        &-text {
            text-align: center;
            color: #4C4C4C;
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
        }
    }
}