.btn {
    &-warning {
        background-color: $color-warning;
    }

    &-special {
        font-size: 0.94rem;
        line-height: 1rem;
        font-weight: 600;
        height: 3rem;
        min-width: 8rem;
        padding: 0.9rem 1rem;
        outline: none;
        text-transform: uppercase;
    }
}



