{#
    Все отзывы
    @var \yii\web\View this
    @var integer countReviews
    @var common\modules\reviews\models\formModel formModel
    @var common\modules\reviews\models\ReviewSearch searchModel
    @var yii\data\ActiveDataProvider dataProvider
#}

{{ use('common/modules/reviews/assets/frontend/ReviewAsset') }}
{{ register_review_asset() }}

{% if countReviews %}
<section class="reviews">
    <div class="container-fluid">
        <div class="reviews-top">
            <h2 class="section-title">Отзывы</h2>
            <button type="button" class="give-feedback" data-toggle="modal" data-target="#modalReview">Оставить отзыв</button>
        </div>
        <div class="reviews-container">

            {% for review in dataProvider.getModels() %}

                {{ this.render('_view.twig', {
                    'model' : review,
                    'user' : true
                }) | raw }}

            {% endfor %}

        </div>
    </div>
</section>
{% endif %}