{% if otherAdverts %}

    {{ use('common/modules/partners/widgets/frontend/PreviewAdvertTmp') }}

    {{ use('frontend/themes/basic/assets/SliderAsset') }}
    {{ register_slider_asset() }}

    <section class="apartment-list">
        <div class="container-fluid">
            <h2 class="section-title">Объявление от владельца</h2>
            <div class="apartment-card-container">

                {% for advert in adverts %}
                    {{ preview_advert_tmp_widget({'advert' : advert}) }}
                {% endfor %}

            </div>
        </div>
    </section>

{% endif %}