.modal {
    &-top {
        border: none;
        padding: 0;
    }

    &-dialog-window {
        max-width: 730px;
        padding: 0 1rem;

        @include tablet() {
            padding: 0 1.25rem;
        }
    }

    &-item {
        margin: 5.8rem 0 0;
        padding: 1.5rem 1.8rem 2rem;
        max-width: 690px;
        width: 100%;
        border: none;
        box-shadow: none;

        @include tablet() {
            margin: 7.8rem 0 0;
            padding: 2.6rem 2.9rem;
        }

        @include tablet-land() {
            margin: 10.8rem 0 0;
        }
    }

    &-header-title {
        font-weight: 700;
        font-size: 1.1rem;
        color: #000000;
        padding: 0;
        margin-bottom: 1.4rem;
    }

    &-subtitle {
        font-weight: 700;
        font-size: 1.1rem;
        color: #000000;
        margin: 1.2rem 0 1.3rem;
    }

    &-textarea {
        width: 100%;
        height: 156px;
        padding: 0.8rem 2rem 0.375rem 1.1rem;
        font-weight: 400;
        font-size: 1rem;
        color: #4C4C4C;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
            border-color: $color-form-focus;
            box-shadow: 0 0 0 0.2rem rgba($color-form-focus, .25);
        }
    }

    .btn-close {
        position: absolute;
        width: 40px;
        height: 40px;
        top: -30px;
        right: 6px;
        opacity: 1;
        padding: 0;
        transition: 0.35s transform;

        @include tablet() {
            top: -25px;
            right: -25px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #ffffff;
            width: 25px;
            height: 2px;
            border-radius: 10px;
            transition: 0.35s background-color;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:hover {
            opacity: 1;
            transform: rotate(180deg);

            &::before,
            &::after {
                background-color: $color-warning;
            }
        }

        &:active {
            &::before,
            &::after {
                background-color: $color-warning;
            }
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    &-bottom {
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;

        @include tablet() {
            flex-direction: row;
            justify-content: space-between;
        }

        .btn {
            width: 178px;
            height: 47px;
        }
    }

    &-submit {
        display: flex;
        margin-bottom: 1rem;

        @include tablet() {
            margin: 0 1rem 0 0;
        }

        &-text {
            font-size: 0.8rem;
        }

        br {
            display: none;

            @include tablet() {
                display: block;
            }
        }
    }

    .submit {
        width: 17px;
        height: 17px;
        margin-right: 0.4rem;
    }

    .input-field {
        width: 100%;
        height: 42px;
        padding: 0.375rem 2rem 0.375rem 1.1rem;
        font-weight: 400;
        font-size: 1rem;
        color: #4C4C4C;
        border: 1px solid #D7D7D7;
        border-radius: 5px;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
            border-color: $color-form-focus;
            box-shadow: 0 0 0 0.2rem rgba($color-form-focus, .25);
        }
    }

    .custom-select {
        font-size: 1rem;
        color: #4C4C4C;
    }

    ::placeholder {
        color: #4C4C4C;
    }
}

.modal-pay {
    .modal {
        &-item {
            position: relative;
        }

        &-header-title {
            margin-bottom: 1.8rem;
        }

        &-pay-subtitle {
            font-weight: 600;
            font-size: 1rem;
            color: #000000;
            margin-bottom: 1.2rem;

            .modal-subtitle-contact {
                margin-bottom: 0.4rem;
            }
        }

        &-text {
            font-weight: 400;
            font-size: 0.8rem;
            color: #4C4C4C;
            margin-bottom: 1.2rem;

            &-bold {
                font-weight: 600;
                font-size: 1.2rem;
                color: #222222;
                text-align: center;
                margin-bottom: 2.2rem;

                @include phone() {
                    font-size: 1.5rem;
                }
            }
        }

        &-email {
            margin-bottom: 1.8rem;
        }

        &-pay-logo {
            display: flex;
            justify-content: center;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;

            @include phone() {
                flex-direction: row;
            }

            @include tablet() {
                justify-content: space-between;
            }

            label {
                position: relative;
            }
        }

        &-pay-select {
            margin-bottom: 1.25rem;

            label {
                width: 100%;
            }
        }
    }

    .logo-pay {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
    }

    .qiwi {
        margin: 0 auto 1rem;
        cursor: pointer;

        @include phone() {
            margin: 0 3rem 1rem 0;
        }

        @include tablet() {
            margin: 0;
        }

        &-logo {
            width: auto;
            padding-right: 1.5rem;
            height: 62px;

            @include phone() {
                width: 100%;
            }
        }
    }

    .yandex {
        margin: 0 auto 1rem;
        cursor: pointer;

        @include phone() {
            margin: 0 0 1rem 3rem;
        }

        @include tablet() {
            margin: 0;
        }

        &-logo {
            width: auto;
            padding-right: 1.3rem;
            height: 57px;

            @include phone() {
                width: 100%;
            }
        }
    }

    .visa {
        margin: 0 auto;
        cursor: pointer;

        @include phone() {
            margin: 0 1.2rem 1rem;
        }

        @include tablet() {
            margin: 0;
        }

        &-logo {
            width: auto;
            padding-right: 0.9rem;
            height: 59px;

            @include phone() {
                width: 100%;
            }
        }
    }
}

.modal-feedback,
.modal-appeal,
.modal-book
.modal-complain {
    .modal {
        &-item {
            @include tablet() {
                padding-bottom: 2.9rem;
            }
        }

        &-select-container {
            @include tablet() {
                display: flex;
                //justify-content: space-between;
                justify-content: flex-start;
                flex-wrap: wrap;
            }

            label {
                width: 100%;
                margin-bottom: 0.6rem;

                @include tablet() {
                    width: 49%;
                }
            }
        }
    }
}

.modal-feedback {
    .modal {
        &-feedback-container {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 1.5rem;

            label {
                &:first-of-type {
                    margin-bottom: 0.9rem;
                }
            }
        }
    }
}

.modal-appeal {
    .modal {
        &-appeal-label {
            width: 100%;
            margin-bottom: 1.5rem;
        }
    }
}

.modal-book {
    .modal-body {
        select {
            font-size: small;
        }

        h2.section-header {
            font-size: .8rem;
            line-height: 1.7rem;
        }

        #form-reservation {
            div:nth-child(5) {
                margin-top: 1rem;
            }
        }

        .section {
            .search-form-filter-calendar {
                .daterangepicker-text {
                    margin-top: 1rem;
                    margin-right: 2rem;
                    .daterangepicker-month {
                        font-weight: normal;
                    }
                }
                height: 42px;
                border: 1px solid #D7D7D7;
                max-width: 49.5%;
                min-width: 207.78px;
                margin-right: .45rem;
                margin-left: 0;
            }

            .step {
                &-line:last-child:not(:only-child) {
                    padding-top: 12px;
                }
                &-line {
                    display: flex;
                    justify-content: space-between;
                    //margin-bottom: 17px;
                    .price-range {
                        display: flex;
                        justify-content: space-between;
                        input {
                            font-size: small;
                        }
                        input:first-child {
                            margin-right: 2px;
                        }
                    }
                    .step-column-66 {
                        //width: 100%;
                        width: 65.5%;
                        margin: 0 1.2% 0 0;
                    }
                    .step-column-33 {
                        //width: 100%;
                        width: 32.5%;
                        margin: 0 1.2% 0 0;
                    }
                    .step-column-100 {
                    }
                }
                &-textarea {
                    width: 100%;
                    height: 177px;
                    padding: 13px 10px 10px 19px;
                    border: 1px solid #d7d7d7;
                    border-radius: 5px;
                    font-size: 13px;
                    font-weight: 400;
                    color: #4c4c4c;
                    outline: none;
                    resize: none;
                }
            }
        }
    }

    //Первый вариант модала брони
    .modal {
        &-book-label {
            width: 100%;
            margin-bottom: 1.5rem;
        }

        &-book-author-label {
            width: 100%;
            margin-bottom: 0.6rem;
        }

        &-book-container {
            @include tablet() {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        &-select-container {
            @include tablet() {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 49%;
            }

            .rent-two-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;

                .input-field {
                    width: 102px;
                    padding-right: 10px;
                    margin-left: 10px;
                }
            }

            label {
                width: 100%;
                margin-bottom: 0.6rem;

                @include tablet() {
                    width: 100%;
                }
            }

            .search-form-group {
                @include phone() {
                    flex-direction: column;
                }

                .search-form-filter-calendar {
                    height: 42px;
                    border: 1px solid #D7D7D7;

                    @include tablet-land() {
                        max-width: 100%;
                    }
                }

                .search-form-filter {
                    margin: 0 0 0.6rem;
                }

                .daterangepicker-text {
                    font-weight: 400;
                    font-size: 1rem;
                    color: #4C4C4C;
                }
            }
        }

        .btn {
            width: 214px;
        }
    }
}

.modal-review-text {
    .modal {
        &-dialog-window {
            max-width: 750px;
        }

        &-item {
            max-width: 710px;
            padding: 1.5rem 1rem;

            @include tablet() {
                padding: 2rem 1.5rem;
            }
        }

        &-body-review {
            display: flex;
        }
    }
}
