<h3>Альфа - Банк</h3>
<p><b>Банк получателя:</b> ОАО «Альфа–Банк», г.Москва</p>
<p><b>ИНН:</b> 7728168971</p>
<p><b>БИК:</b> 044525593</p>
<p><b>К/С:</b> 30101810200000000593</p>
<p><b>№ счёта получател:</b> 40817810004150019934</p>