<h3>Заселение происходит по двум вариантам:</h3>
<div style="font-size: 120%">
    <p>- При предъявлении паспорта, Вам оставляют ключи.</p>
    <p>- Без документов Вас закрывают в квартире и открывают по телефонному звонку.</p>
</div>


<br/>


{% if model.rent_type == 2 or model.rent_type == 3 %}
    <h3>Заселение:</h3>
    <div style="font-size: 120%">
        <p>
            Вы приезжаете на указанный адрес, Вас встречает Наш менеджер,
            Вы осматриваете данную квартиру и если всё Вас устраивает, заключаете договор и оплату передаёте нашему менеджеру.
        </p>

        <br/>

        <p>
            При заселении, обязательно иметь паспорт, т.к. заселение происходит на основании договора. 
            Без документов менеджер не имеет права Вас заселить.
        </p>
    </div>
{% endif %}