<h3>Оплата через телефон:</h3>
<p>Оплату брони, можно осуществить, положив деньги на наш телефон! Для этого,
    Вы связываетесь с нашим менеджером, обговариваете сумму брони и на
    указанный менеджером номер Билайн, вносите оплату.</p>
<br/>
<p class="text-center"><b>Номер для связи с менеджером:</b> <br/> <span style="font-size: 200%;">+7 903 799 17 99</span>
</p>