<h3><a href="https://money.yandex.ru" target="_blank">Яндекс.Деньги</a></h3>
<p>Вам необходимо зарегистрироваться на Яндексе и затем активировать Яндекс или скачать Кошелек. </p>  <br/>
<p>Если Вы зарегистрированы на Яндексе, то нажмите на ссылку.</p>  <br/>
<p>Если у Вас есть кошелёк, то откройте его: нажмите отправить и впустом окне напишите номер счёта, далее отправить.</p>

<br/>
<p class="text-center"><b>Наш счет:</b> <br/> <span style="font-size: 200%;">41001340547425</span></p>