<div class="modal modal-search fade" id="modalSearchFilters" tabindex="-1" role="dialog" aria-labelledby="modalSearchLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-window" role="document">
        <div class="modal-content modal-item">
            <div class="modal-header modal-top">
                <h4 class="modal-title modal-header-title" id="modalSearchLabel">Расширенный поиск</h4>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-select-container">
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Тип сделки*</option>
                            <option value="1">Тип сделки</option>
                            <option value="2">Тип сделки</option>
                            <option value="3">Тип сделки</option>
                            <option value="4">Тип сделки</option>
                            <option value="5">Тип сделки</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>До метро*</option>
                            <option value="1">Неважно</option>
                            <option value="2">Пешком</option>
                            <option value="3">Транспортом</option>
                        </select>
                    </label>
                    <label>
                        <div class="checkselect">
                            <label><input type="checkbox" name="brands[]" value="1"> Кондиционер</label>
                            <label><input type="checkbox" name="brands[]" value="2"> Холодильник</label>
                            <label><input type="checkbox" name="brands[]" value="3"> Посудомоечная машина</label>
                            <label><input type="checkbox" name="brands[]" value="4"> Стиральная машина</label>
                            <label><input type="checkbox" name="brands[]" value="5"> Без мебели</label>
                            <label><input type="checkbox" name="brands[]" value="6"> Комнатная мебель</label>
                            <label><input type="checkbox" name="brands[]" value="7"> Кухоная мебель</label>
                            <label><input type="checkbox" name="brands[]" value="8"> Интернет</label>
                            <label><input type="checkbox" name="brands[]" value="9"> Телефон</label>
                            <label><input type="checkbox" name="brands[]" value="10"> Телевизор</label>
                        </div>
                    </label>

                    <label>
                        <select class="custom-select">
                            <option value="" selected>Условия проживания*</option>
                            <option value="1">Условия проживания</option>
                            <option value="2">Условия проживания</option>
                            <option value="3">Условия проживания</option>
                        </select>
                    </label>
                </div>
                <div class="modal-select-container">
                    <div class="modal-area-container">
                        <h5 class="modal-subtitle">Общая площадь</h5>
                        <div class="modal-area modal-total-area">
                            <input name="total-area" type="number" value="от" placeholder="От">
                            <input name="total-area" type="number" value="до" placeholder="До">
                        </div>
                    </div>
                    <div class="modal-area-container">
                        <h5 class="modal-subtitle">Площадь кухни</h5>
                        <div class="modal-area modal-kitchen-area">
                            <input name="kitchen-area" type="number" value="от" placeholder="От">
                            <input name="kitchen-area" type="number" value="до" placeholder="До">
                        </div>
                    </div>
                </div>
                <h5 class="modal-subtitle">Жилая площадь</h5>
                <div class="modal-select-container">
                    <div class="modal-area modal-living-area">
                        <input name="living-area" type="number" value="от" placeholder="От">
                        <input name="living-area" type="number" value="до" placeholder="До">
                    </div>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Апартаменты*</option>
                            <option value="1">Апартаменты</option>
                            <option value="2">Апартаменты</option>
                            <option value="3">Апартаменты</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Высота потолков*</option>
                            <option value="1">Высота потолков</option>
                            <option value="2">Высота потолков</option>
                            <option value="3">Высота потолков</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Ремонт*</option>
                            <option value="1">Ремонт</option>
                            <option value="2">Ремонт</option>
                            <option value="3">Ремонт</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Этаж*</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Этажей в доме*</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">5</option>
                            <option value="5">9</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Вид из окна*</option>
                            <option value="1">Вид из окна</option>
                            <option value="2">Вид из окна</option>
                            <option value="3">Вид из окна</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Тип дома*</option>
                            <option value="1">Тип дома</option>
                            <option value="2">Тип дома</option>
                            <option value="3">Тип дома</option>
                        </select>
                    </label>
                </div>
                <h5 class="modal-subtitle">Год постройки</h5>
                <div class="modal-select-container">
                    <div class="modal-area modal-year">
                        <input name="year" type="number" value="от" placeholder="От">
                        <input name="year" type="number" value="до" placeholder="До">
                    </div>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Лифт*</option>
                            <option value="1">Неважно</option>
                            <option value="2">Да</option>
                            <option value="3">Нет</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Парковка*</option>
                            <option value="1">Неважно</option>
                            <option value="2">Да</option>
                            <option value="3">Нет</option>
                        </select>
                    </label>
                    <label>
                        <select class="custom-select">
                            <option value="" selected>Дата публикации*</option>
                            <option value="1">Дата публикации</option>
                            <option value="2">Дата публикации</option>
                            <option value="3">Дата публикации</option>
                        </select>
                    </label>
                </div>
                <div class="modal-select-container modal-select-container--words">
                    <div class="modal-area-container">
                        <h5 class="modal-subtitle">Ключевые слова в объявлении</h5>
                        <label>
                            <input type="text" class="modal-keywords input-field" placeholder="Пример: срочно, важно и т.д.">
                        </label>
                    </div>

                    <div class="modal-area-container">
                        <h5 class="modal-subtitle">Исключить слова в объявлении</h5>
                        <label>
                            <input type="text" class="modal-exclude-words input-field" placeholder="Пример: срочно, важно и т.д.">
                        </label>
                    </div>
                </div>
                <div class="modal-select-container">
                    <label>
                        <input type="tel" class="modal-search-tel input-field" placeholder="Номер телефона">
                    </label>
                    <label>
                        <input type="number" class="modal-ad-number input-field" placeholder="Номер объявления">
                    </label>
                </div>
            </div>
            <div class="modal-footer modal-bottom">
                <button type="reset" class="filter">Сбросить фильтры</button>
                <button type="button" class="btn btn-warning btn-special" data-dismiss="modal" aria-label="Close">Поиск</button>
            </div>
        </div>
    </div>
</div>