<h3>Оплата для юридических лиц</h3>
<p><b>Наименование фирмы:</b> ООО «КАРАТ»</p>
<p><b>Адрес:</b> 127374, Москва, ул. Ращупкина, д 6.</p>
<p><b>ИНН:</b> 7731558788</p>
<p><b>КПП:</b> 773101001</p>
<p><b>Расчетный счет:</b> Р/с 40702810400000001540</p>
<p><b>Наименование банка:</b> В ООО КБ «РОСАВТОБАНК»</p>
<p><b>Адрес банка:</b> 123056, г. Москва, ул.Зоологическая, д.26, стр.2</p>
<p><b>К/с:</b> 30101810500000000857</p>
<p><b>БИК:</b> 044585857</p>
<p><b>ОГРН:</b> 1067761790359</p>
<p><b>Ген.директор:</b> Севостьянов Михаил Михайлович</p>
<div class="link">
    <a href="">Скачать договор</a>
    <a href="">Выставить счет</a>
</div>