<h3><a href="https://qiwi.com/" target="_blank">Qiwi кошелёк</a></h3>
<p>Qiwi кошелёк — можно переводить деньги друзьям,другим пользователям, осуществлять перевод на любую карту Visa, моментально.</p>  <br/>
<p>Делать покупки по всему миру, в один клик - QIWI Кошелек превращается в QIWI Visa Card.</p>  <br/>
<p>Самая широкая сеть пополнения: QIWI Терминалы по всей России, также салоны связи, банкоматы, сетевые супермаркеты, банковские карты,с помощью денежных переводов и интернет-банкинга.</p>
<br/>
<p class="text-center"><b>Наш счет:</b> <br/> <span style="font-size: 200%;">925507-72-37</span></p>