<section class="gallery">
    <div class="container-fluid">
        <h3 class="section-title">Наши любимые города</h3>
        <div class="gallery-list">
            <article class="gallery-item gallery-item-lg">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-moscow.png" alt="Moscow"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Москва</h5>
                        <span class="gallery-sub-title text-white">Красная площадь</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-st.png" alt="St. Petersburg"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Санкт-Петербург</h5>
                        <span class="gallery-sub-title text-white">Улица</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-st.png" alt="St. Petersburg"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Санкт-Петербург</h5>
                        <span class="gallery-sub-title text-white">Улица</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-tyumen.png" alt="Tyumen"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Тюмень</h5>
                        <span class="gallery-sub-title text-white">Улица</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
            <article class="gallery-item gallery-item-sm">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-rostov-on-don.png" alt="Rostov On Don"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Ростов на Дону</h5>
                        <span class="gallery-sub-title text-white">Улица</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
            <article class="gallery-item gallery-item-md">
                <div class="gallery-item-wrapper">
                    <object class="gallery-img">
                        <img src="/_new/images/gallery/city-kazan.png" alt="Kazan"/>
                    </object>
                    <div class="gallery-info">
                        <h5 class="text-white">Казань</h5>
                        <span class="gallery-sub-title text-white">Улица</span>
                    </div>
                    <a class="link text-white link-to" href="./board.html">Перейти</a>
                </div>
            </article>
        </div>
        <div class="text-center">
            <a href="./search.html" class="btn btn-outline-warning">Все города</a>
        </div>
    </div>
    <div class="gallery-moscow"></div>
</section>