<header class="header">
    <div class="header-nav">
        <div class="header-container">
            <a class="logo" href="./index.html">
                <img src="/_new/images/logo-light.svg" alt="logo">
            </a>
            <button class="location">Москва</button>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link link-with-border active" href="#">
                        Добавить объявление
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-with-border" href="./help.html">
                        Помощь
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-with-border" href="./signOut.html" data-toggle="modal" data-target="#signUp">
                        Регистрация
                    </a>
                </li>
            </ul>
        </nav>
        <a href="./signIn.html" class="btn btn-warning btn-special btn-sign-in" data-toggle="modal" data-target="#signIn">
            Вход
        </a>
    </div>
</header>