<div style="display:none">
    <div class="g-hidden">
        <div class="box-modal container" id="exampleModal5_1">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <div class="m-dotted  example5 row dash-poz" data-body="3">
                <div class="col-md-2 poz-6 poz"></div>
                <div class="col-md-9"><span class="poz-span">Бронирование, контакты закрыты.</span></div>
            </div>
            <div class="m-dotted  example5 row dash-poz" data-body="7">
                <div class="col-md-2 poz-2 poz"></div>
                <div class="col-md-9"><span class="poz-span">Открыть контакты</span></div>
            </div>
            <div class="m-dotted  example5 row dash-poz" data-body="2">
                <div class="col-md-2 poz-1 poz"></div>
                <div class="col-md-9"><span class="poz-span">Как поднять объявление?</span></div>
            </div>
            <div class="m-dotted  example5 row dash-poz" data-body="4">
                <div class="col-md-2 poz-3 poz"></div>
                <div class="col-md-9"><span class="poz-span">Что такое быстрое заселение?</span></div>
            </div>


            <div class="m-dotted  example5 row dash-poz" data-body="6">
                <div class="col-md-2 poz-4 poz"></div>
                <div class="col-md-9"><span class="poz-span">Что такое бегущая строка?</span></div>
            </div>


            <div class="m-dotted  example5 row dash-poz" data-body="5">
                <div class="col-md-2 poz-5 poz"></div>
                <div class="col-md-9"><span class="poz-span">Платные услуги</span></div>
            </div>


        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_2">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Нужно ли поднимать объявление, если включена
                функция «Бронирования»?</h3>
            <p class="p-style1">Для большего охвата клиентов объявление нужно поднять. На нашем сайте «Сдаем.ру»
                действует правило: чем больше оплачиваете дней одного объявления, тем больше скидка! Также, если у Вас
                больше одного объявления и Вам их нужно поднять, то тоже будет значительная скидка!</p>
            <p><img src="/basic-images/img-poz-1.png" alt="подсказка 1"></p>
            <p class="p-style1">На нашем сайте реализована карта местности,где показаны все объекты для «Клиента». По
                карте можно найти нужный объект недвижимости. </p>
            <p><img src="/basic-images/img-poz-2.png" alt="подсказка 2"></p>
            <p class="p-style1">Что мы имеем: «Клиент» может найти объявление по карте и найти нужное объявление в
                первых рядах. За небольшую сумму можно поднять огромное количество объявлений с большой скидкой!</p>

        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_3">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">«Контакты закрыты», открыта функция
                «Бронирования»!</h3>
            <div style="background:url(/basic-images/img-poz-4.png)no-repeat; background-size: cover;"></div>
            <p><img src="/basic-images/img-poz-5.png" alt=""></p>
        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_4">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Что такое - «Быстрое заселение» ?</h3>
            <p class="p-style1">Данная функция позволяет показать «Клиенту», что у вас «свободно». Это нужно для горящих
                предложений прямо сейчас, например: У Вас свободно на ночь, час или сутки? «Клиент» видит горящее
                предложение и бронирует или звонит Вам, если открыты контакты. Традиционный метод- календарь! </p>
            <p><img src="/basic-images/img-poz-6.png" alt=""></p>
        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_5">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Платные услуги</h3>
            <p><img src="/basic-images/img-poz-3.png" alt=""></p>
        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_6">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Что такое бегущая строка?</h3>
            <p class="p-style1">Данная функция позволяет разместить объявление в самом верху!
                Что дает большое преимущество!</p>
            <p><img src="/basic-images/img-poz-7.png" alt=""></p>
        </div>
        <div class="box-modal hidden-xs" id="exampleModal5_7">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Функция «Открыть контакты»</h3>
            <p class="p-style1">Если Вы не хотите, чтобы люди бронировали через сайт: cdaem.ru, то данная функция
                позволяет «открыть контакты»! Клиенты, будут напрямую Вам звонить и договариваться.</p>
            <p><img src="/basic-images/img-poz-12.png" alt="image-poz-12"></p>
            <p class="p-style1">При открытых контактах функция «Бронирование» выключена. Также, можно не звонить
                «Клиенту» , а вести переписку !
                Когда оплачиваете «открыть контакты», то предусмотрена очень большая скидка! Если у вас много объявлений
                и оплачиваете на 28 дней .</p>
            <p><img src="/basic-images/img-poz-11.png" alt="image-poz-11"></p>
        </div>
    </div>


    <span class="m-dotted example6" id="example1">модальное окно 1</span>
    <span class="m-dotted example7" id="example2">модальное окно 2</span>
    <span class="m-dotted example8" id="example3">модальное окно 3</span>
    <span class="m-dotted example9" id="example4">модальное окно 4</span>
    <span class="m-dotted example10" id="example5">модальное окно 5</span>
    <span class="m-dotted example11" id="example6">модальное окно 6</span>
</div>


<div style="display: none;">
    <div class="g-hidden">
        <div class="box-modal hidden-xs" id="exampleModal1">
            <div class="box-modal_close arcticmodal-close">Закрыть</div>
            <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Нужно ли поднимать объявление, если включена
                функция «Бронирования»?</h3>
            <p class="p-style1">Для большего охвата клиентов объявление нужно поднять. На нашем сайте «Сдаем.ру»
                действует правило: чем больше оплачиваете дней одного объявления, тем больше скидка! Также, если у Вас
                больше одного объявления и Вам их нужно поднять, то тоже будет значительная скидка!</p>
            <p><img src="/basic-images/img-poz-1.png" alt="подсказка 1"></p>
            <p class="p-style1">На нашем сайте реализована карта местности,где показаны все объекты для «Клиента». По
                карте можно найти нужный объект недвижимости. </p>
            <p><img src="/basic-images/img-poz-2.png" alt="подсказка 2"></p>
            <p class="p-style1">Что мы имеем: «Клиент» может найти объявление по карте и найти нужное объявление в
                первых рядах. За небольшую сумму можно поднять огромное количество объявлений с большой скидкой!</p>
        </div>
    </div>


    <div class="box-modal hidden-xs" id="exampleModal2">
        <div class="box-modal_close arcticmodal-close">Закрыть</div>
        <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Что такое бегущая строка?</h3>
        <p class="p-style1">Данная функция позволяет разместить объявление в самом верху!
            Что дает большое преимущество!</p>
        <p><img src="/basic-images/img-poz-7.png" alt="подсказка 7"></p>
    </div>


    <div class="box-modal hidden-xs" id="exampleModal3">
        <div class="box-modal_close arcticmodal-close">Закрыть</div>
        <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Платные услуги</h3>
        <p><img src="/basic-images/img-poz-3.png" alt="подсказка 76"></p>
    </div>
    <div class="box-modal hidden-xs" id="exampleModal4">
        <div class="box-modal_close arcticmodal-close">Закрыть</div>
        <h3 style="text-align:center;color:#7ebbdb;font-size:23px">Что такое - «Быстрое заселение» ?</h3>
        <p class="p-style1">Данная функция позволяет показать «Клиенту», что у вас «свободно». Это нужно для горящих
            предложений прямо сейчас, например: У Вас свободно на ночь, час или сутки? «Клиент» видит горящее
            предложение и бронирует или звонит Вам, если открыты контакты. Традиционный метод- календарь! </p>
        <p><img src="/basic-images/img-poz-6.png" alt=""></p>
    </div>
    <div class="box-modal hidden-xs" id="exampleModal6">
        <div class="box-modal_close arcticmodal-close">Закрыть</div>
        <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">Функция «Открыть контакты»</h3>
        <p class="p-style1">Если Вы не хотите, чтобы люди бронировали через сайт: cdaem.ru, то данная функция позволяет
            «открыть контакты»! Клиенты, будут напрямую Вам звонить и договариваться.</p>
        <p><img src="/basic-images/img-poz-12.png" alt="image-poz-12"></p>
        <p class="p-style1">При открытых контактах функция «Бронирование» выключена. Также, можно не звонить «Клиенту» ,
            а вести переписку !
            Когда оплачиваете «открыть контакты», то предусмотрена очень большая скидка! Если у вас много объявлений и
            оплачиваете на 28 дней .</p>
        <p><img src="/basic-images/img-poz-11.png" alt="image-poz-11"></p>
    </div>
    <div class="box-modal hidden-xs" id="exampleModal5">
        <div class="box-modal_close arcticmodal-close">Закрыть</div>
        <h3 style="text-align:center;color:#7ebbdb;font-size: 23px;">«Контакты закрыты», открыта функция
            «Бронирования»!</h3>
        <p><img src="/basic-images/img-poz-4.png" alt=""></p>
        <p><img src="/basic-images/img-poz-5.png" alt=""></p>
    </div>
</div>

</div>







