.p-home {

    .adv-list {
        margin-top: 25px;

        &-img {
            width: 100%;

            @include tablet() {
                width: 29.3%;
            }
        }

        &-data {
            width: 100%;
            padding: 4px 0 0 0;

            @include tablet() {
                width: 70.7%;
                padding: 4px 0 0 2.5%;
            }
        }
    }

}
