.p-pay {

    .pay {
        margin-top: 16px;

        .form-group {
            max-width: 330px;
            margin-bottom: 31px;
            position: relative;

            &::before {
                content: '';
                width: 16px;
                height: 19px;
                background-image: url("/_new/images/icons/rubles.svg");
                background-size: contain;
                background-repeat: no-repeat;
                position: absolute;
                right: 12px;
                bottom: 12px;
            }
        }

        &-label {
            width: fit-content;
            margin-bottom: 18px;

            color: #000;
            font-size: 16px;
            font-weight: 600;
        }

        .form-control {
            border-radius: 5px;
            border: 1px solid #DCDCDC;
            background: #FAFAFA;
            padding-right: 30px;
        }

        &-title {
            margin-bottom: 24px;

            color: #000;
            font-size: 16px;
            font-weight: 600;
        }

        &-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 15px;
            margin-bottom: 26px;

            @include phone() {
                grid-template-columns: repeat(2, 1fr);
            }

            @include tablet() {
                grid-template-columns: repeat(3, 1fr);
            }

            @include tablet-land() {
                gap: 17px 36px;
            }
        }

        &-method {
            display: flex;
            flex-direction: column;
            gap: 15px;

            cursor: pointer;

            @include tablet-land() {
                gap: 27px;
            }

            &:hover {
                .pay-img img {
                    opacity: 1;
                }
            }
        }

        &-input {
            display: none;

            &:checked+.pay-method {
                .pay-img {
                    border-color: #FFA801;

                    img {
                        opacity: 1;
                    }
                }

                .pay-name {
                    color: #000;
                }
            }
        }

        &-img {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            padding: 15px;

            border-radius: 5px;
            border: 1px solid #F1F1F1;
            background: #FFF;
            transition: border-color 200ms linear;

            @include tablet-land() {
                height: 147px;
            }

            img {
                opacity: 0.5;
                transition: opacity 200ms linear;
                object-fit: contain;
                display: block;
                max-height: 100%;
                max-width: 70%;
                width: auto;
            }
        }

        &-name {
            color: #636363;
            font-size: 16px;
            font-weight: 500;
            transition: color 200ms linear;
        }
    }

}