.p-services {

	.services-list {
		display: flex;
		flex-direction: column;
		gap: 20px;

		@include desktop() {
			gap: 31px;
		}
	}

	.service-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15px;
		padding: 20px;

		background: #FFFFFF;
		box-shadow: 0px 3px 31px rgba(0, 0, 0, 0.11);
		border-radius: 15px;

		@include tablet-land() {
			flex-direction: row;
			align-items: flex-start;
		}

		@include desktop() {
			gap: 36px;
			padding: 29px 30px 30px 24px;
		}
 
		&-img {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 140px;
			width: 140px;
			height: 140px;

			background: #F9F9F9;
			border-radius: 10px;

			@include desktop() {
				min-width: 205px;
				width: 205px;
				height: 205px;
			}

			img {
				display: block;
				width: 100px;
				height: 100px;
				object-fit: contain;

				@include desktop() {
					width: 150px;
					height: 150px;
				}
			}
		}


		&-name {
			display: block;
			text-align: center;
			font-size: 20px;
			font-weight: 700;
			color: #000;

			@include tablet-land() {
				text-align: left;
			}

			@include desktop() {
				font-size: 24px;
			}
		}

		&-content {
			margin-top: 9px;
			text-align: center;
			font-weight: 400;
			font-size: 14px;
			line-height: 24px;
			color: #000;

			@include tablet-land() {
				text-align: left;
			}

			@include desktop() {
				font-size: 16px;
				line-height: 26px;
			}
		}

		&-wrapper {
			margin-top: 19px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 21px;

			@include tablet-land() {
				flex-direction: row;
			}
		}

		&-link {
			display: inline-block;
			padding: 12px 25px;
			border: 1px solid #ffa801;
			border-radius: 5px;
			background-color: #FFA801;

			font-size: 15px;
			font-weight: 600;
			color: #000;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				background-color: transparent;
			}
		}

		&-status {
			display: flex;
			align-items: center;
			gap: 11px;

			font-weight: 500;
			font-size: 14px;
			line-height: 16px;
			text-transform: uppercase;
			color: #565656;

			@include desktop() {
				font-size: 15px;
				line-height: 18px;
			}

			img {
				display: inline-block;
				height: 20px;
				width: 20px;
			}
		}
	}
}